@import "../../../../src/styles/init";

:host {
  .product {
    position: relative;
  }

  .product__link {
    .products--list & {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .product__img-wrap {
    height: 200px;

    .products--list & {
      width: 200px;
      margin-right: 24px;
    }

    .product--recommended & {
      @include media(lg) {
        height: 270px;
      }
    }
  }

  .product__desc {
    margin-top: 12px;
  }

  .product__name {
    color: $text-primary;
  }

  .product__price {
    color: $text-primary;

    &:after {
      content: ' \20BD';
    }
  }
}
