@import "../../../../src/styles/init";

:host {
  .product {
    position: relative;
  }

  .product__link {
    .products--list & {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .product__img-wrap {
    height: 200px;

    .products--list & {
      width: 200px;
      margin-right: 24px;
    }

    .product--recommended & {
      @include media(lg) {
        height: 270px;
      }
    }
  }

  .button-wishlist {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    padding: 9px 7px 7px;
    color: #2d2d2d;
    border: none;
    background-color: rgba(255,255,255,.9);
    border-radius: 50%;
    cursor: default;
    outline: none;

    .products--list & {
      left: 160px;
    }

    svg {
      width: 100%;
      height: 100%;
      color: rgba(255,255,255,.9);
      transition: color ease .2s;
    }

    &:hover,
    .product--in-wishlist & {
      svg {
        color: #2d2d2d;
        opacity: .9;
      }
    }

    .full-product & {
      width: 36px;
      height: 36px;
    }
  }

  .product__desc {
    margin-top: 12px;
  }

  .product__name {
    color: $text-primary;
  }

  .product__price {
    color: $text-primary;

    &:after {
      content: ' \20BD';
    }
  }
}
