<header class="page-header">
  <div class="container">

    <div class="page-header__inner">
      <a class="page-header__logo" routerLink="/" routerLinkActive="active">
        <img class="page-header__logo-img" src="./assets/images/FNB_logo.png" alt="">
      </a>

      <app-menu></app-menu>

      <div class="page-header__right">

<!--        <div class="page-header__search">-->
<!--          <form class="search-form" action="" autocomplete="on">-->
<!--            <label class="visually-hidden" for="header-search">Поиск</label>-->
<!--            <input id="header-search" name="search" type="text" placeholder="Поиск...">-->
<!--            <input value="" type="submit">-->
<!--          </form>-->
<!--        </div>-->

        <div class="header-services">
          <div class="header-services__inner">
            <a href="./wishlist.html" class="header-services__item header-services__wishlist" title="Избранное" aria-label="Избранное">
          <span class="header-services__icon">
            <svg class="icon-heart">
              <use xlink:href="./assets/images/svg/heart.svg#heart"></use>
            </svg>
          </span>
            </a>
            <a href="./messenger-channels.html" class="header-services__item header-services__messages logged-in-only" aria-label="Сообщения" title="Сообщения">
              <span class="header-services__icon">
            <svg class="icon-message">
              <use xlink:href="./assets/images/svg/message.svg#message"></use>
            </svg>
          </span>
              <div class="notify-number">2</div>
            </a>
            <a href="./my-products.html" class="header-services__item header-services__products logged-in-only">Мои объявления</a>

            <a href="#login" class="header-services__item header-services__login unlogged-only">
              <span class="header-services__icon">
            <svg class="icon-user">
              <use xlink:href="./assets/images/svg/user.svg#user"></use>
            </svg>
          </span>
            </a>

            <div class="header-services__item header-services__profile logged-in-only">
              <a href="./profile.html" class="header-services__avatar">
                C
              </a>
            </div>
          </div>
        </div>

        <a href="./add-product.html" class="page-header__button button button--primary">Продать урожай</a>

        <button class="main-nav-trigger" type="button" title="Главное меню">
          <span class="main-nav-trigger__line"></span>
          <span class="main-nav-trigger__line"></span>
          <span class="main-nav-trigger__line"></span>
          <span class="main-nav-trigger__line"></span>
        </button>
      </div>
    </div>
  </div>
</header>
