@import "../../../styles/init";

.nsm-content {
  padding: 24px 32px;
}

.login-form__item {
  margin: 12px 0;

  input {
    width: 100%;
  }
}

.login-form {
  max-width: 400px;
  margin: auto;
}

.login-form__lost {
  margin-bottom: 10px;
}

.button--social-account {
  display: block;
  height: 48px;
  line-height: 30px;
  margin: 12px 0;
  padding-left: 48px;
  color: #fff;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 4px center;
  overflow: hidden;
}

.button--vk {
  background-color: #4d75a3;
  background-image: url(../../../assets/images/svg/login-logo-vk.svg);

  &:hover {
    color: #fff;
    background-color: #4d75a3;
  }
}

.button--fb {
  background-color: #3b5998;
  background-image: url(../../../assets/images/svg/login-logo-fb.svg);

  &:hover {
    color: #fff;
    background-color: #3b5998;
  }
}

.button--action {
  height: 48px;
  width: 100%;
  margin-bottom: 12px;
  background-color: $brand-contrast;
}

.login__divider {
  margin: 24px 0;
  font-size: 18px;
  text-align: center;
}
