@import "../../../styles/init";

:host {
  .product-pictures {
    display: grid;
    grid-template-columns: repeat(auto-fill, 128px);
    grid-column-gap: 30px;
    grid-row-gap: 16px;
  }

  .product-picture {
    height: 128px;
    width: 128px;
    margin-bottom: 16px;
    border: 1px solid #ececec;
    box-shadow: $box-shadow;
  }
}
