@import "../../../../src/styles/init";

:host {
  .main-nav {
    @media screen and (max-width: 940px) {
      display: none;
    }
  }

  .main-nav__inner-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .main-nav__list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 50%;
  }

  .main-nav__item {
    display: inline-block;
    margin-right: 30px;

    &:last-child {
      margin-right: 16px;
    }
  }

  .main-nav__link {
    display: block;
    color: $text-primary;
    font-size: 21px;
    text-decoration: none;

    &.active,
    &:hover {
      color: $brand-contrast;
    }
  }

  .main-nav-trigger {
    position: relative;
    display: block;
    width: 42px;
    height: 36px;
    margin-left: 7px;
    padding: 8px;
    background: none;
    border: none;
    transform: rotate(0deg);
    transition: all .3s ease-in-out 0s;
    cursor: pointer;

    @media screen and (min-width: 940px) {
      display: none;
    }
  }

  .main-nav-trigger__line {
    position: absolute;
    left: 8px;
    display: block;
    height: 2px;
    width: 26px;
    background: $brand-primary;
    border-radius: $border-radius;
    transform: rotate(0deg);
    transition: all .25s ease-in-out 0s;
    opacity: 1;

    &:nth-child(1) {
      top: 8px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 18px;
    }

    &:nth-child(4) {
      top: 28px;
    }

    .main-nav-trigger.active & {
      &:nth-child(1) {
        top: 18px;
        left: 50%;
        width: 0;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 18px;
        left: 50%;
        width: 0;
      }
    }
  }

  .logged-in-only {
    display: none;

    body.logged-in & {
      display: block;
    }
  }

  body.logged-in .unlogged-only {
    display: none;
  }
}
