<div class="product">
  <a href="/product/{{product.id}}" class="product__link">
    <div class="product__img-wrap">
      <img class="product__img cropped-image" src="{{product.img}}" alt="" loading="lazy">
    </div>
    <div class="product__desc">
      <div class="product__name">{{product.name}}</div>
      <div class="product__price">{{product.price}}</div>
    </div>
  </a>
  <button class="button button-wishlist " type="button" title="Добавить в избранное" aria-label="Добавить в избранное">
    <svg>
      <use xlink:href="./assets/images/svg/wishlist-heart.svg#wishlist-heart"></use>
    </svg>
  </button>
</div>
