<div class="product">
  <a href="/" class="product__link">
    <div class="product__img-wrap">
      <img class="product__img cropped-image" src="/assets/images/strawberry.jpg" alt="" loading="lazy">
    </div>
    <div class="product__desc">
      <div class="product__name">Клубника</div>
      <div class="product__price">250</div>
    </div>
  </a>
  <button class="button button-wishlist " type="button" title="Добавить в избранное" aria-label="Добавить в избранное">
    <svg>
      <use xlink:href="../img/svg/wishlist-heart.svg#wishlist-heart"></use>
    </svg>
  </button>
</div>
