<div *ngIf="seller$ | async as seller" class="full-product__actions">
<!--  <button class="full-product__buy full-product__button button button&#45;&#45;primary" type="submit">Оплатить</button>-->
  <button (click)="handlePhone()" class="full-product__button button button--primary button--show-phone">
    <span *ngIf="!isPhoneShown">Показать телефон</span>
    <span *ngIf="isPhoneShown">{{seller[0].phone}}</span>
  </button>
<!--  <button class="full-product__button button">Написать сообщение</button>-->
</div>
<div *ngIf="seller$ | async as seller" class="full-product__seller-info">
  <div class="seller-info__right">
    <a href="" class="seller-info__name">{{seller[0].name}}</a>
    <div>С нами c апреля 2019</div>
    <div>Завершено 2 объявления</div>
  </div>
  <div class="seller-info__photo">
    <img class="cropped-image" src="./assets/images/user-pictures/user.jpg" alt="">
  </div>
</div>
<a href="" class="seller-products button">{{(sellerProducts$ | async)?.length}} объявлений пользователя</a>
