@import "../../../../src/styles/init";

:host {
  .full-product__actions {
    margin-bottom: 8px;
  }

  .full-product__button {
    width: 100%;
    margin-bottom: 16px;
    min-height: 50px;
  }

  .button--show-phone {
    font-size: 18px;
  }

  .full-product__buy {
    background: $fnb-extra;

    &:hover {
      background: $fnb-extra;
    }
  }

  .full-product__seller-info {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 1.4;
  }

  .seller-info__photo {
    flex-shrink: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
  }

  .seller-products {
    width: 100%;
    font-size: 14px;
    color: $text-primary;
    background-color: #f5f5f5;

    &:hover {
      color: $text-primary;
    }
  }
}
