<div class="full-product__actions">
  <button class="full-product__buy full-product__button button button--primary" type="submit">Оплатить</button>
  <button class="full-product__button button button--primary button--show-phone">
    Показать телефон
    <span>8 921 XXX-XX-XX</span>
  </button>
  <button class="full-product__button button">Написать сообщение</button>
</div>
<div class="full-product__seller-info">
  <div class="seller-info__right">
    <a href="" class="seller-info__name">Василий</a>
    <div>С нами c апреля 2019</div>
    <div>Завершено 2 объявления</div>
  </div>
  <a href="" class="seller-info__photo">
    <img class="cropped-image" src="./assets/images/user-pictures/user.jpg" alt="">
  </a>
</div>
<a href="" class="seller-products button">2 объявления пользователя</a>
