$fnb-primary:    #38b34a;
$fnb-secondary:  #f47621;
$fnb-extra:      #ba529f;

$brand-primary:  #879934;
//$brand-contrast: #f26a36;
//$brand-primary:  $fnb-primary;
$brand-contrast: $fnb-secondary;
$link-color:     #0091d9;
$light-gray:     #f8f8f8;

$text-primary:   #484848;
$text-black:     #333333;
$text-grey:      #858585;
