$brand-primary:  #879934;
$brand-contrast: #f47621;
$fnb-extra:      #ba529f;

$link-color:     #0091d9;
$light-gray:     #f8f8f8;

$text-primary:   #484848;
$text-black:     #333333;
$text-grey:      #858585;
