@import "../../../../src/styles/init";


  .products {
    display: grid;
    grid-gap: 30px;
  }

  .products--table {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }

  .products--list {
    .product__link {
      @include media(ms) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .product__img-wrap {
      width: 200px;
      margin-right: 24px;
    }

    .product__desc {
      @include media(sm) {
        margin-top: 0;
      }
    }

    .button-wishlist {
      left: 160px;
    }
  }

  .recommended-products__title {
    font-weight: 600;
  }

