<div class="registration">
  <form [formGroup]="userForm" (ngSubmit)="createUser(userForm.value)" class="login-form form">
    <div class="login-form__item">
      <label>
        <input formControlName="email" type="text" name="email" placeholder="Email">
      </label>
    </div>
    <div class="login-form__item">
      <label>
        <input formControlName="password" type="password" name="password" placeholder="Пароль" autocomplete="off">
      </label>
    </div>
    <button type="submit" class="button button--primary button--action" [disabled]="userForm.invalid">Создать аккаунт</button>
  </form>
</div>
