@import "~src/styles/init";

:host {
  .page-header {
    background: #f8f4ef;
    border-bottom: 1px solid #ccc;

    .container {
      @media screen and (max-width: 1559px) {
        max-width: 100%;
      }
    }
  }

  .switch-container {
    @media screen and (max-width: 1559px) {
      max-width: 100%;
    }
  }

  .page-header__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;

    @media screen and (min-width: 1560px) {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  .page-header__right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
  }

  .page-header__logo {
    margin-right: 30px;

    @include media(xs) {
      margin-right: 15px;
    }

    @media screen and (min-width: 1560px) {
      position: absolute;
      left: -125px;
      top: 8px;
    }
  }

  .page-header__logo-img {
    width: 48px;
    max-width: inherit;

    @include media(md) {
      width: 56px;
    }

    @media screen and (min-width: 1560px) {
      width: 96px;
    }
  }

  /* Header services*/
  .header-services {
    display: flex;
    flex-wrap: wrap;
    justify-self: end;

    @include media(xs) {
      display: none;
    }
  }

  .header-services__inner {
    display: inline-flex;
    align-items: center;
  }

  .header-services__item {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 0 5px;
    color: $text-primary;

    body.logged-in &:first-child {
      margin: 0 0 0 4px;
    }
  }

  .notify-number {
    position: absolute;
    top: -4px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    padding-left: 1px;
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
    background: $brand-contrast;
  }

  .header-services__icon {
    display: flex;
    color: #a6a6a6;

    &:hover {
      color: darken(#a6a6a6, 15%);
    }

    .icon-heart {
      width: 21px;
      height: 24px;
    }

    .icon-message {
      width: 24px;
      height: 24px;
    }
  }

  .header-services__products {
    @media screen and (max-width: 1279px) {
      display: none !important;
    }
  }

  .header-services__login {
    .icon-user {
      width: 19px;
      height: 19px;
    }
  }

  .header-services__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: #fff;
    font-size: 18px;
    background: $fnb-extra;
    border-radius: 50%;
    overflow: hidden;

    &:hover {
      color: #fff;
    }
  }

  .page-header__button {
    min-width: inherit;
    flex: 0 0 25.8%;
    max-width: 190px;
    margin-left: 15px;
    padding-right: 20px;
    padding-left: 20px;

    &:hover {
      color: #fff;
    }

    @include media(md, max) {
      display: none;
    }
  }

  .switch-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
    margin: 8px 60px 8px auto;
    color: $text-primary;
    line-height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 60px;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: $fnb-extra;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $fnb-extra;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }
}
