<header class="page-header">
  <div class="container">

    <div class="page-header__inner">
      <a class="page-header__logo" routerLink="/" routerLinkActive="active">
        <img class="page-header__logo-img" src="./assets/images/FNB_logo.png" alt="">
      </a>

      <app-menu></app-menu>

      <div class="page-header__right">
<!--                <div class="page-header__search">-->
<!--          <form class="search-form" action="" autocomplete="on">-->
<!--            <label class="visually-hidden" for="header-search">Поиск</label>-->
<!--            <input id="header-search" name="search" type="text" placeholder="Поиск...">-->
<!--            <input value="" type="submit">-->
<!--          </form>-->
<!--        </div>-->

        <div class="header-services">
          <div class="header-services__inner">
            <a routerLink="/wishlist" class="header-services__item header-services__wishlist" title="Избранное" aria-label="Избранное">
              <span class="header-services__icon">
                <svg class="icon-heart">
                  <use xlink:href="./assets/images/svg/heart.svg#heart"></use>
                </svg>
              </span>
            </a>

            <a *ngIf="auth.uid | async" routerLink="/user/my-products" class="header-services__item header-services__products">Мои объявления</a>

            <div *ngIf="auth.uid | async" class="header-services__item header-services__profile">
              <a routerLink="/user" class="header-services__avatar">
                <svg class="icon-user">
                  <use xlink:href="./assets/images/svg/user.svg#user"></use>
                </svg>
              </a>
            </div>
            <div *ngIf="(auth.uid | async) === null" class="btn-group">
              <button (click)="ngxSmartModalService.getModal('login').open()"
                      class="link button--link">Вход</button>
              <button (click)="ngxSmartModalService.getModal('registration').open()"
                      class="link button--link">Регистрация</button>
            </div>
          </div>
        </div>

        <a *ngIf="auth.uid | async" routerLink="/add-product" class="page-header__button button button--primary">Продать урожай</a>
      </div>
    </div>
  </div>
</header>
