<nav class="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a routerLink="/catalog/veggies" routerLinkActive="active" class="main-nav__link">Овощи</a>
    </li>
    <li class="main-nav__item">
      <a routerLink="/catalog/fruits" routerLinkActive="active" class="main-nav__link">Фрукты</a>
    </li>
    <li class="main-nav__item">
      <a routerLink="/catalog/berries" routerLinkActive="active" class="main-nav__link">Ягоды</a>
    </li>
    <li class="main-nav__item">
      <a routerLink="/catalog/greens" routerLinkActive="active" class="main-nav__link">Зелень</a>
    </li>
  </ul>
</nav>
