<app-user-menu></app-user-menu>

<div class="user-settings">
  <div *ngIf="user$ | async as user" class="edit-user">
    <form [formGroup]="userForm"
          (ngSubmit)="handleSubmit(userForm.value)"
          [class.submitted]="submitted" class="user-settings__form">
      <div class="user-settings__photo">
        <div *ngIf="userPhoto$ | async as userPhoto" class="user-picture">
          <img class="cropped-image" src="{{userPhoto}}" [alt]="user[0].name">
        </div>
        <div class="form-item form-type-file form-item__files-picture-upload">
          <label for="edit-picture-upload" class="visually-hidden">Файл</label>
          <input id="edit-picture-upload" type="file" name="files[picture_upload]" size="48" class="form-file">
        </div>
      </div>

      <div class="form-item">
        <label for="fld-user-name">Имя</label>
        <h1 class="user-settings__title">
          <span class="visually-hidden">{{user[0].name}}</span>
          <input type="text" id="fld-user-name" formControlName="name" maxlength="50">
        </h1>
        <arv-validation-messages for="name"></arv-validation-messages>
      </div>
      <div class="form-item">
        <label for="fld-user-email">Email</label>
        <input type="text" id="fld-user-email" formControlName="email" maxlength="50">
        <arv-validation-messages for="email"></arv-validation-messages>
      </div>
      <div class="form-item">
        <label for="fld-user-phone">Телефон</label>
        <input type="text" id="fld-user-phone" formControlName="phone" maxlength="50">
      </div>
      <button type="submit" class="button button--primary button--l">Изменить</button>
    </form>
  </div>
</div>


