<div class="catalog-top">
  <div class="catalog-top__item sort-by-relevance">
    <select (change)="handleSort($event.target.value)" aria-label="Сортировать по">
      <option value="popularity">Популярные</option>
      <option value="low">Цена: По возрастанию</option>
      <option value="high">Цена: По убыванию</option>
    </select>
  </div>
  <div class="catalog-top__item catalog-filters-photo button-group">
    <label class="check subscribe__checkbox">
      только с фото
      <input
        type="checkbox"
        [(ngModel)]="isPhotosChecked"
        name="agreement"
        class="check__input visually-hidden"
        (change)="handleSortPhotos()">
      <span class="check__box"></span>
    </label>
  </div>
<!--  <div class="catalog-top__item catalog-filters-views button-group">-->
<!--    <button class="catalog-filters-views__item catalog-filters-views__item&#45;&#45;gallery button active" type="button" aria-label="Вид каталога - галерея">-->
<!--      <i class="i-catalog-view i-catalog-view&#45;&#45;gallery"></i>-->
<!--    </button>-->
<!--    <button class="catalog-filters-views__item catalog-filters-views__item&#45;&#45;list button" type="button" aria-label="Вид каталога - список">-->
<!--      <i class="i-catalog-view i-catalog-view&#45;&#45;list"></i>-->
<!--    </button>-->
<!--  </div>-->
</div>
