<div class="add-product">
  <h1 class="page-title">Новое объявление</h1>
  <form class="add-product__form" [formGroup]="addProductForm" (ngSubmit)="onSubmitProductData(addProductForm.value)">
    <div class="form-item">
      <label for="fld-category">Выберете категорию</label>
      <select id="fld-category" class="select--custom" formControlName="category">
        <option value="">Любая категория</option>
        <option value="">Овощи</option>
        <option value="">&nbsp; &nbsp;Огурцы</option>
        <option value="">&nbsp; &nbsp;Помидоры</option>
        <option value="">Фрукты</option>
        <option value="">&nbsp; &nbsp;Яблоки</option>
        <option value="">&nbsp; &nbsp;Груши</option>
        <option value="">&nbsp; &nbsp;Сливы</option>
        <option value="">Ягоды</option>
        <option value="">&nbsp; &nbsp;Клубника</option>
        <option value="">&nbsp; &nbsp;Малина</option>
        <option value="">&nbsp; &nbsp;Вишня</option>
        <option value="">Зелень</option>
        <option value="">&nbsp; &nbsp;Салаты</option>
        <option value="">&nbsp; &nbsp;Мята</option>
      </select>
    </div>
    <div class="form-item">
      <label for="fld-product-name">Название объявления</label>
      <input type="text" id="fld-product-name" formControlName="name" maxlength="50">
    </div>
    <div class="form-item">
      <label for="fld-product-desc">Описание объявления</label>
      <textarea id="fld-product-desc" formControlName="description" rows="6" maxlength="3000"></textarea>
    </div>
    <div class="form-item">
      <label for="fld-product-price">Цена</label>
      <input type="text" id="fld-product-price" formControlName="price" maxlength="16">
      <span class="number-format-currency">₽</span>
    </div>
    <div class="form-item">
      <label for="fld-product-img">Фотографии</label>
      <input type="file"
             (change)="handlePhotosInput($event.target.files)"
             id="fld-product-img"
             formControlName="img"
             accept="image/gif,image/png,image/jpeg,image/pjpeg"
             multiple="">
    </div>
    <div class="form-item">
      <label for="fld-product-metro">Метро</label>
      <input type="text" id="fld-product-metro" formControlName="metro" maxlength="50">
    </div>
    <button type="submit" class="button button--primary button--l">Опубликовать</button>
  </form>
</div>
