<div class="add-product">
  <h1 class="page-title">Новое объявление</h1>
  <form [class.submitted]=submitted class="add-product__form" [formGroup]="productForm" (ngSubmit)="handleSubmit(productForm.value)">
    <div class="form-item">
      <label for="category">Выберете категорию</label>
      <select formControlName="category" class="select--custom" id="category" name="category" required>
        <optgroup *ngFor="let category of productMainCategories; let i = index;" label="{{category.name}}">
          <option *ngFor="let category of productSubcategories[i]" [ngValue]="{id: category.id, parentId: category.parentId}">
            {{category.name}}
          </option>
        </optgroup>
      </select>
      <div *ngIf="submitted && productForm.controls['category'].errors?.required" class="form-alert--danger">
        Это обязательное поле
      </div>
    </div>
    <div class="form-item">
      <label for="fld-product-name">Название объявления</label>
      <input type="text" id="fld-product-name" formControlName="name">
        <div *ngIf="submitted && productForm.controls['name'].errors?.required" class="form-alert--danger">
          Это обязательное поле
        </div>
    </div>
    <div class="form-item">
      <label for="fld-product-desc">Описание объявления</label>
      <textarea id="fld-product-desc" formControlName="description" rows="6"></textarea>
    </div>
    <div class="form-item">
      <label for="fld-product-price">Цена</label>
      <input type="number" id="fld-product-price" formControlName="price">
      <span class="number-format-currency"> ₽</span>
    </div>
    <div class="form-item">
      <label for="fld-product-img">Фотографии</label>
      <input type="file"
             (change)="handlePhotosInput($event.target.files)"
             id="fld-product-img"
             formControlName="photos"
             accept="image/gif,image/png,image/jpeg,image/pjpeg"
             multiple="">
    </div>
    <button type="submit" class="button button--primary button--l">Опубликовать</button>
  </form>
</div>
