<div *ngIf="product$ | async as product" class="full-product">
  <div class="full-product__top">
    <h1 class="full-product__title">{{product.name}}</h1>
    <div class="full-product__price">{{product.price}}</div>
  </div>
  <div class="full-product__main">
    <div class="full-product__left">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages">
      </ngx-gallery>
      <app-wishlist-btn
        [productInWishlist]="checkProductInWishlist(product.id)"
        (add)="handleAddToWishlist($event, product.id)"
        (remove)="handleRemoveFromWishlist($event, product.id)">
      </app-wishlist-btn>
    </div>
    <div class="full-product__about">
      <div class="full-product__desc">
        <p>{{product.description}}</p>
      </div>
    </div>
  </div>
  <div class="full-product__right">
    <app-seller [uid]="product.uid"></app-seller>
  </div>
</div>

