<div class="full-product">
  <div class="full-product__top">
    <h1 class="full-product__title">{{(product | async)?.name}}</h1>
    <div class="full-product__price">{{(product | async)?.price}}</div>
  </div>
  <div class="full-product__main">
    <div class="full-product__left">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages">
      </ngx-gallery>

      <button class="button button-wishlist" type="button" title="Добавить в избранное" aria-label="Добавить в избранное">
        <svg>
          <use xlink:href="./assets/images/svg/wishlist-heart.svg#wishlist-heart"></use>
        </svg>
      </button>
    </div>
    <div class="full-product__about">
      <div class="full-product__desc">
        <p>{{(product | async)?.description}}</p>
      </div>
    </div>
  </div>
  <div class="full-product__right">
    <app-seller></app-seller>
  </div>
</div>

