<aside class="cabinet-sidebar">
  <ul class="cabinet-menu">
    <li *ngIf="(products$ | async)?.length > 0" class="cabinet-menu__item">
      <a class="cabinet-menu__link" routerLink="/user/my-products" routerLinkActive="active">Мои объявления</a>
    </li>
    <li *ngIf="(products$ | async)?.length > 0" class="cabinet-menu__item">
      <a class="cabinet-menu__link" routerLink="/user/orders" routerLinkActive="active">Заказы</a>
    </li>
<!--    <li class="cabinet-menu__item">-->
<!--      <a class="cabinet-menu__link" href="/user/messenger-channels">Сообщения</a>-->
<!--    </li>-->
    <li class="cabinet-menu__item">
      <a class="cabinet-menu__link" routerLink="/user" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">Настройки</a>
    </li>
    <li class="cabinet-menu__item">
      <button (click)="handleLogout()" class="cabinet-menu__link cabinet-menu__button">Выход</button>
    </li>
  </ul>
</aside>
