textarea,
input {
  padding: 8px 16px;
  border: 1px solid #ccc;
}

.form-item {
  margin-bottom: 16px;
}

label {
  display: block;
}

.form-checkbox__input {
  width: 16px;
  height: 16px;
}

.select--custom {
  padding: 8px 16px;
  border: 1px solid #ccc;;
}

.select-icon {
  position: absolute;
  right: 8px;
}