<ngx-smart-modal identifier="login">
  <div class="login">
    <div class="login__half">
      <div class="login__social-buttons">
        <a href="./auth/vk" class="button button--social-account button--vk">
          Вконтакте
        </a>
        <a href="./auth/facebook" class="button button--social-account button--fb">
          Facebook
        </a>
      </div>
    </div>

    <div class="login__divider">Или</div>

    <div class="login__half">
      <form [formGroup]="userForm" (ngSubmit)="handleSubmit(userForm.value)" class="login-form form">
        <div class="login__form-item">
          <label>
            <input formControlName="email" type="text" name="email" placeholder="Телефон или электронная почта">
          </label>
        </div>
        <div class="login__form-item">
          <label>
            <input formControlName="password" type="password" name="password" placeholder="Пароль" autocomplete="off">
          </label>
        </div>
        <div id="login-error">{{errorMsg}}</div>
        <div class="login-form__lost link">Забыли пароль?</div>
        <button type="submit" class="button button--primary button--login">Войти</button>
<!--        <a class="button button&#45;&#45;primary button&#45;&#45;sign-up">Создать аккаунт</a>-->
      </form>
    </div>
  </div>
</ngx-smart-modal>
