<app-user-menu></app-user-menu>

<table class="orders">
  <thead>
  <tr>
    <th>Номер заказа</th>
    <th>Дата</th>
    <th>Пользователь</th>
    <th>Итого</th>
    <th>Состояние</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td data-th="Номер заказа">3</td>
    <td data-th="Дата">17 июля, 2019 - 19:18</td>
    <td data-th="Пользователь">ekalinicheva@gmail.com</td>
    <td data-th="Итого">350₽</td>
    <td data-th="Состояние">
      <select name="status" >
        <option value="">Новый</option>
        <option value="">В обработке</option>
        <option value="">Оплачен</option>
        <option value="">Завершен</option>
      </select>
    </td>
  </tr>
  <tr>
    <td data-th="Номер заказа">2</td>
    <td data-th="Дата">22 июня, 2019 - 12:53</td>
    <td data-th="Пользователь">poberezhnii893255@mail.ru</td>
    <td data-th="Итого">710₽</td>
    <td data-th="Состояние">
      <select name="status" >
        <option value="">Новый</option>
        <option value="">В обработке</option>
        <option value="">Оплачен</option>
        <option value="" selected="selected">Завершен</option>
      </select>
    </td>
  </tr>
  <tr>
    <td data-th="Номер заказа">1</td>
    <td data-th="Дата">01 июня, 2019 - 07:36</td>
    <td data-th="Пользователь">ekalinicheva@gmail.com</td>
    <td data-th="Итого">190₽</td>
    <td data-th="Состояние">
      <select name="status" >
        <option value="">Новый</option>
        <option value="">В обработке</option>
        <option value="">Оплачен</option>
        <option value="" selected="selected">Завершен</option>
      </select>
    </td>
  </tr>
  </tbody>
</table>
