textarea,
input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: $border-radius;
}

.form-item {
  margin-bottom: 24px;
}

label {
  display: block;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  color: $text-black;
}

form.submitted {
  input.ng-invalid,
  .ng-untouched[required] {
    background-color: rgba(220, 53, 69, .1);
    border-color: #dc3545;
  }
}

.invalid-feedback,
.form-alert--danger {
  color: #dc3545;
}

.invalid-feedback {
  p {
    margin: 0;
  }
}


#edit-picture-upload {
  border: none;
  padding: 0;
}

.check {
  display: block;
  position: relative;
  padding-left: 30px;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  user-select: none;
  cursor: pointer;
}

.check__input {
  &:focus,
  &:checked {
    &  ~ .check__box:after {
      display: block;
    }
  }

  &:focus + .check__box {
    box-shadow: 0 0 1px 0.1em $link-color;
  }
}

.check__box {
  position: absolute;
  top: 50%;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  overflow: hidden;
  transform: translateY(-50%);

  &:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid $brand-primary;
    border-width: 0 2px 2px 0;
    transform: rotate(40deg);
  }
}

.form-checkbox__input {
  width: 16px;
  height: 16px;
}

.form-checkbox__label {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
}

.select--custom {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: $border-radius;
}

.select-icon {
  position: absolute;
  right: 8px;
}

#fld-product-price {
  max-width: 100px;
}

#fld-product-img {
  width: inherit;
}
